{% extends 'base.html' %}

{% block content %}
<div class="about-container">
    <h2 class="title">About Me</h2>
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <p class="about-text">I am Felix, the proud tabby monarch of this humble abode. With my coat of stripes, ranging from the warm hues of amber to the soft grays of dawn, I am a testament to the beauty of nature's palette.<br>
                <br>
                From my favorite sunspot by the window, I watch the world outside with a curious gaze, my whiskers twitching with anticipation at the sight of a fluttering bird. I am a creature of the wild, with a spirit that cannot be tamed.<br>
                <br>
                But beneath my wild exterior lies a heart of gold. I am fiercely loyal to my human companions, showering them with affectionate headbutts and gentle purrs whenever they're near. In their presence, I am at peace, content to while away the hours in blissful companionship.<br>
                <br>
                I am a hunter, a scholar, and a philosopher, exploring the depths of my kingdom with a sense of wonder and awe. Whether I'm prowling through the tall grass of the backyard or lounging on the cozy sofa, I approach each moment with a quiet dignity and grace.<br>
                <br>
                In the eyes of humans, I may be just another tabby cat, but in my own mind, I am so much more. I am Felix, the striped sovereign, and this is my domain.</p>
          </div>
          <div class="col">
            <img class="about-img" src="public/images/felix1.jpg" alt="me in a tie">
            <img class="about-img" src="public/images/felix2.jpg" alt="me being the cutest">
          </div>
      </div>
</div>
{% endblock %}
